.git
.github
.env
.env.*
!.env.example
.scaffold
node_modules
public/build
vendor
coverage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
tools
*.md
*.docx
*.zip
